In [1]:
import pandas as pd
import numpy as np
from os import listdir
import matplotlib.pyplot as plt
import seaborn as sns

# Dataset Bitfinex

### Collecting data

In [2]:
mypath = "../raw_data/crypto_data"
onlyfiles = [f for f in listdir(mypath)]

In [3]:
df = pd.read_csv("../raw_data/crypto_data/1inch-usd.csv")

In [4]:
df.head()

            time    open   close    high     low       volume  Unnamed: 0
0  1628623620000  2.7621  2.7662  2.7662  2.7621  1259.937600         NaN
1  1628623980000  2.7668  2.7668  2.7668  2.7668    12.660914         NaN
2  1628624100000  2.7610  2.7664  2.7664  2.7610     0.199698         NaN
3  1628624220000  2.7710  2.7710  2.7710  2.7710     0.001921         NaN
4  1628625300000  2.7706  2.7709  2.7709  2.7706   133.633900         NaN

In [23]:
df.columns

Index(['time', 'open', 'close', 'high', 'low', 'volume', 'Unnamed: 0'], dtype='object')

### Cleaning data

In [6]:
df["time"]= pd.to_datetime(df["time"], unit='ms')
df['time']

0      2021-08-10 19:27:00
1      2021-08-10 19:33:00
2      2021-08-10 19:35:00
3      2021-08-10 19:37:00
4      2021-08-10 19:55:00
               ...
7135   2021-08-29 13:06:00
7136   2021-08-29 13:08:00
7137   2021-08-29 13:10:00
7138   2021-08-29 13:12:00
7139   2021-08-29 13:14:00
Name: time, Length: 7140, dtype: datetime64[ns]

In [24]:
df.isnull().sum()
df = df.drop(columns = ['Unnamed: 0'])

## Dataset Binance

### Collecting data

In [8]:
path = "../raw_data/ETH-USDT.parquet"
eth = pd.read_parquet(path, engine='auto')

In [25]:
eth.head()

                           open        high         low       close   volume
open_time
2017-08-17 04:00:00  301.130005  301.130005  301.130005  301.130005  0.42643
2017-08-17 04:01:00  301.130005  301.130005  301.130005  301.130005  2.75787
2017-08-17 04:02:00  300.000000  300.000000  300.000000  300.000000  0.09930
2017-08-17 04:03:00  300.000000  300.000000  300.000000  300.000000  0.31389
2017-08-17 04:04:00  301.130005  301.130005  301.130005  301.130005  0.23202

### Cleaning data

In [31]:
eth.shape

(2753105, 5)

In [10]:
eth = eth.drop(columns = ['quote_asset_volume',
       'number_of_trades', 'taker_buy_base_asset_volume',
       'taker_buy_quote_asset_volume'])

In [26]:
eth.head(1)

                           open        high         low       close   volume
open_time
2017-08-17 04:00:00  301.130005  301.130005  301.130005  301.130005  0.42643

In [27]:
eth.tail(1)

                            open    high          low   close    volume
open_time
2022-11-16 22:43:00  1205.150024  1206.5  1205.150024  1206.5  143.3013

In [29]:
eth.isnull().sum()

open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [14]:
eth.corr()

            open      high       low     close    volume
open    1.000000  0.999999  0.999999  0.999998  0.067169
high    0.999999  1.000000  0.999998  0.999999  0.067632
low     0.999999  0.999998  1.000000  0.999999  0.066665
close   0.999998  0.999999  0.999999  1.000000  0.067143
volume  0.067169  0.067632  0.066665  0.067143  1.000000

In [17]:
git checkout -b collect-clean

open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [34]:
eth.duplicated(subset= ["open_time"])

KeyError: Index(['open_time'], dtype='object')