# ETHEREUM dataset

# Loading previous model

In [3]:
from tensorflow.keras import models
loaded_model = models.load_model('tweeter_model')

In [5]:
loaded_model

In [6]:
import pandas as pd

In [7]:
eth_tweets = pd.read_csv("../raw_data/Ethereum_tweets.csv")

In [9]:
eth_tweets.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,#1 Crypto Currency TRADING,NaN,"Profit thought trading, Learn , Trade & Earnüí≤....",2021-11-10 10:42:01+00:00,4,0,0,False,2021-11-15 07:26:39+00:00,Get upto 1000 that‚Äôs 10x with our premium spot...,NaN,Twitter for Android,False
1,Reyrey,Kuala Lumpur,Artist | NFT Broker & Collector for AnideaNFT ...,2011-03-07 07:22:57+00:00,343,650,589,False,2021-11-15 07:26:35+00:00,"Adopted a Hypocat #053, ‚ÄúCrazy Rich Cat‚Äù ü§ëüíµüíµüíµü§©...","['SupportingCreators', 'CryptoArt', 'CryptoArt...",Twitter for iPhone,False
2,akter jahan,NaN,NaN,2021-10-28 13:28:05+00:00,1,2,0,False,2021-11-15 07:26:32+00:00,Top 10 Coins by Social Engagement over the las...,"['LunarCrush', 'bitcoin', 'dogecoin']",Twitter Web App,False
3,riyan,NaN,i always paricipated your project,2021-09-16 16:59:11+00:00,11,127,99,False,2021-11-15 07:26:30+00:00,Requesting faucet funds into 0x5278942b39deD8c...,"['Rinkeby', 'Ethereum']",Twitter Web App,False
4,Michelle Eriksen,NaN,"Art Creator, NFT, Crypto",2021-08-11 06:40:08+00:00,522,1428,16,False,2021-11-15 07:26:30+00:00,New Listing BTS 0.008ETH !! \n#NFTs #nftcolle...,"['NFTs', 'nftcollector', 'NFTCommunity', 'art'...",Twitter Web App,False

In [2]:
import pandas as pd
df = pd.read_json("https://api.binance.com/api/v3/ticker/24hr")

In [3]:
df.head()

,symbol,priceChange,priceChangePercent,weightedAvgPrice,prevClosePrice,lastPrice,lastQty,bidPrice,bidQty,askPrice,...,openPrice,highPrice,lowPrice,volume,quoteVolume,openTime,closeTime,firstId,lastId,count
0,ETHBTC,-0.000790,-1.057,0.074151,0.074762,0.073971,3.615,0.073971,29.3699,0.073972,...,0.074761,0.074790,0.073537,53613.5423,3975.487392,1670247453285,1670333853285,393795769,393915002,119234
1,LTCBTC,-0.000181,-3.736,0.004746,0.004842,0.004664,0.856,0.004664,18.5860,0.004665,...,0.004845,0.004870,0.004635,93966.1080,445.995948,1670247453396,1670333853396,86487820,86529871,42052
2,BNBBTC,-0.000092,-0.539,0.016994,0.017055,0.016964,0.527,0.016964,8.3460,0.016965,...,0.017056,0.017076,0.016910,29608.7610,503.171466,1670247450818,1670333850818,211824468,211868708,44241
3,NEOBTC,0.000013,3.210,0.000412,0.000405,0.000418,0.850,0.000417,640.2500,0.000418,...,0.000405,0.000420,0.000404,29366.6600,12.091578,1670247446305,1670333846305,44081022,44082802,1781
4,QTUMETH,0.000014,0.808,0.001735,0.001721,0.001747,10.700,0.001743,248.9000,0.001748,...,0.001733,0.001751,0.001728,1885.2000,3.271079,1670247451070,1670333851070,5343571,5343628,58

In [4]:
df.plot